<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
				xmlns:android="http://schemas.android.com/apk/res/android"
				id="cordova-plugin-document-scanner"
				version="1.0">

	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>

	<name>Document Scanner</name>

	<description>
		Plugin to provide a javascript interface to a native document scanner API functionality
	</description>

	<author>Mohammed Irfan</author>

	<keywords>Document Scanner, Scanner, Document, Document Capture, Document Processing, Process Documents</keywords>

	<license>Apache 2.0 License</license>

	<repo>https://github.com/mohammedirfan655/document-scanner.git</repo>
	<issue>https://github.com/mohammedirfan655/document-scanner/issues</issue>

	<js-module src="www/DocumentScanner.js" name="DocumentScanner">
		<clobbers target="window.plugins.documentscanner" />
		<clobbers target="window.plugins.scanner" />
	</js-module>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DocumentScanner">
				<param name="android-package" value="com.mohammedirfan.documentscanner.DocumentScanner" />
			</feature>
		</config-file>

		<source-file src="src/android/com/mohammedirfan/documentscanner/DocumentScanner.java" target-dir="src/com/mohammedirfan/documentscanner"/>

		<source-file src="src/android/com/scanlibrary/ScanActivity.java" target-dir="src/com/scanlibrary"/>
		<source-file src="src/android/com/scanlibrary/ScanConstants.java" target-dir="src/com/scanlibrary"/>
		<source-file src="src/android/com/scanlibrary/IScanner.java" target-dir="src/com/scanlibrary"/>
	    <source-file src="src/android/com/scanlibrary/FakeR.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/PickImageFragment.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/ScanFragment.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/Utils.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/PolygonView.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/ProgressDialogFragment.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/ResultFragment.java" target-dir="src/com/scanlibrary" />
	    <source-file src="src/android/com/scanlibrary/SingleButtonDialogFragment.java" target-dir="src/com/scanlibrary" />

		<resource-file src="src/android/res/drawable/circle.xml" target="res/drawable/circle.xml" />
		<resource-file src="src/android/res/drawable-mdpi/sc_camera.png" target="res/drawable-mdpi/sc_camera.png" />
		<resource-file src="src/android/res/drawable-mdpi/sc_gallery.png" target="res/drawable-mdpi/sc_gallery.png" />
		<resource-file src="src/android/res/layout/sc_pick_image_fragment.xml" target="res/layout/sc_pick_image_fragment.xml" />
		<resource-file src="src/android/res/layout/sc_result_layout.xml" target="res/layout/sc_result_layout.xml" />
		<resource-file src="src/android/res/layout/sc_scan_fragment_layout.xml" target="res/layout/sc_scan_fragment_layout.xml" />
		<resource-file src="src/android/res/layout/sc_scan_layout.xml" target="res/layout/sc_scan_layout.xml" />
		<resource-file src="src/android/res/values/sc_colors.xml" target="res/values/sc_colors.xml" />
		<resource-file src="src/android/res/values/sc_dimens.xml" target="res/values/sc_dimens.xml" />
		<resource-file src="src/android/res/values/sc_strings.xml" target="res/values/sc_strings.xml" />

		<source-file src="src/android/com/scanlibrary/libs/armeabi/libopencv_java3.so" target-dir="src/main/jniLibs/armeabi/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi/libScanner.so" target-dir="src/main/jniLibs/armeabi/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi-v7a/libopencv_java3.so" target-dir="src/main/jniLibs/armeabi-v7a/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi-v7a/libScanner.so" target-dir="src/main/jniLibs/armeabi-v7a/" />
		<source-file src="src/android/com/scanlibrary/libs/mips/libopencv_java3.so" target-dir="src/main/jniLibs/mips/" />
		<source-file src="src/android/com/scanlibrary/libs/mips/libScanner.so" target-dir="src/main/jniLibs/mips/" />
		<source-file src="src/android/com/scanlibrary/libs/x86/libopencv_java3.so" target-dir="src/main/jniLibs/x86/" />
		<source-file src="src/android/com/scanlibrary/libs/x86/libScanner.so" target-dir="src/main/jniLibs/x86/" />

		<source-file src="src/android/com/scanlibrary/libs/armeabi/libopencv_java3.so" target-dir="libs/armeabi/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi/libScanner.so" target-dir="libs/armeabi/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi-v7a/libopencv_java3.so" target-dir="libs/armeabi-v7a/" />
		<source-file src="src/android/com/scanlibrary/libs/armeabi-v7a/libScanner.so" target-dir="libs/armeabi-v7a/" />
		<source-file src="src/android/com/scanlibrary/libs/mips/libopencv_java3.so" target-dir="libs/mips/" />
		<source-file src="src/android/com/scanlibrary/libs/mips/libScanner.so" target-dir="libs/mips/" />
		<source-file src="src/android/com/scanlibrary/libs/x86/libopencv_java3.so" target-dir="libs/x86/" />
		<source-file src="src/android/com/scanlibrary/libs/x86/libScanner.so" target-dir="libs/x86/" />

	    <config-file target="AndroidManifest.xml" parent="/manifest/application">
	        <activity android:label="ScanActivity"
	        		  android:name="com.scanlibrary.ScanActivity">
	        </activity>
	    </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
		    <uses-permission android:name="android.permission.CAMERA" />
		    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />

	</platform>
	
</plugin>
